.accordion-enter {
  height: 0px;
  opacity: 0.01;
}

.accordion-enter.accordion-enter-active {
  opacity: 1;
  transition: all 700ms;
}

.accordion-leave {
  opacity: 1;
  height: 100%;
  transition: 500ms;
}

.accordion-leave.accordion-leave-active {
  opacity: 0.01;
  height: 0px;
}
