html,
body,
#root {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafbfc;

  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 5px;
  z-index: 2;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  z-index: 2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e1e4e8;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e1e4e9;
}

@keyframes donut-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}